· GH Action implementer 🚀
· Docker expert 🐳🚢
· web deploy 👨🏻‍💻

<div style="width:400px">

{{template "hourly-table" $.TodayWeather.HourlyWeathers}}

<div/>

## Weather For Next {{ len .Weathers }} days

<div style="width:400px">

{{template "daily-table" .Weathers}}

<div/>


